{% extends 'base.html.twig' %}

{% block body %}
  {% if error %}
    <p style="color: red">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </p>
  {% endif %}
  <form action="{{ path('app_security_login') }}" method="post">
    <label for="username">Email</label>
    <br/>
    <input type="email" id="username" name="_username" value="{{ username }}"/>
    <br/>
    <label for="password">Password</label>
    <br/>
    <input type="password" id="password" name="_password"/>
    <br/>
    <br/>
    <button type="submit">Login</button>
  </form>
  <hr/>
  <h3>Available users</h3>
  <ul>
    {% for user in availableUsers %}
      <li><strong>{{ user }}</strong> with password <strong>password</strong></li>
    {% endfor %}
  </ul>
{% endblock %}
